*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image:url(son.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 3px 60px;
	font-family: "Times New Romans", sans-serif;
	font-size: 15px;
}

.main-nav li a:hover
{
	border: 1px solid white;
}
.logo img
{
	width: 15px;
	height: 200;
	float: left;
}
body
{
	font-family: monospace;
}
.row
{
	max-width: 1200px
	margin: auto;
}
.hero
{
	position: centre;
	background-color: #e5e4d7;
	margin: 10px;
	height: 35px;
	border-radius: 5px;
	padding: 20px;
	font-size: 110%;
	
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 170px
	margin: 10px;
	height: 40px;
	padding: 20px;
	font-size: 510%;
	position: centre;

}
h2
{
	color: white;
	padding: 20px;
}
h3
{
	color: Green;
}


.button
{
	margin-top: 30px;
	margin-left: 440px;
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 2px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one
{
	background-color: darkorange;
	font-family: "Roboto", sans-serif;

}
.btn-two
{
	font-family: "Roboto", sans-serif;
}
.btn-two:hover
{
	background-color: darkorange;
	transition: all 0.5s ease-in;
}
.wildlife img
{
	width: 15px;
	height: 200;
	float: left;
}
h2
{
	color: solid white
	display: inline-flex;
}